@page
@model ErrorModel

<html>
    <head>
        <title>Insecure Bank</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Insecure Bank">

        <!-- CSS -->
        <link rel="stylesheet" href="~/css/error.css"/>
        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/ico/queenadmin-favicon144x144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/ico/queenadmin-favicon114x114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/ico/queenadmin-favicon72x72.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/ico/queenadmin-favicon57x57.png">
        <link rel="shortcut icon" href="~/ico/favicon.ico">
    </head>
    <body>
        <div id="error">
            <div class="error">
                <div class="error-500">
                    <h1>Oops!</h1>
                    <h2>500 - Our server is on a break</h2>
                </div>
                <a href="/">Go TO Homepage</a>
            </div>
        </div>
    </body>
</html>